/* globs */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* helpers */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* center container */

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* common section */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-text-darken {
    color: #2e2f42;
}

.logo-text-lighten {
    color: #f4f4fd;
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    align-items: center;
}

/* header logo */
.header-logo {
    margin-right: 76px;
}

/* header nav */

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

/* header address */

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/* hero */

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;

    text-align: center;

    margin-left: auto;
    margin-right: auto;

    max-width: 496px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: 0 none;
    min-width: 169px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* team, portfolio title */

.team-title,
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* team list item background */
.team-list-item {
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* features, team, portfolio list title */

.features-list-title,
.team-list-title,
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* team list title align center  */

.team-list-title {
    text-align: center;
}

/* features, team, portfolio list text */

.features-list-text,
.team-list-text,
.portfolio-list-text {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;
}

/* team list text align center  */

.team-list-text {
    text-align: center;
}

/* team background */

.team {
    background-color: #f4f4fd;
}

.features-list,
.team-list,
.portfolio-list {
    display: flex;
}

.features-list,
.team-list {
    gap: 24px;
}

.portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.features-list-item {
    width: calc((100% - 24px) / 4);
}

.list-info {
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio-list-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* footer */

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;

    color: #f4f4fd;

    max-width: 264px;
}
